<div>
  <h1>Lista de productos correspondientes al carrito ID {{cartID}}</h1>
  
  {{#each products}}
    <p>
        ID: {{product._id}} / Título: {{product.title}} <br />
        Descripción: {{product.description}} / Precio: {{product.price}} <br />
        Miniaturas: {{product.thumbnail}} / Código: {{product.code}} <br />
        Stock: {{product.stock}} / Categoria: {{product.category}} <br />
        Estado: {{product.status}} <br />
        Cantidad: {{quantity}} <br />
    </p>
  {{/each}}
  
</div>