<div>
    <h1>Lista de productos</h1>
    <ul>
      {{#each products.docs}}
        <li>ID: {{id}} / Título: {{title}}</li>
        <li>Descripción: {{description}} / Precio: {{price}}</li>
        <li>Miniaturas: {{thumbnail}} / Código: {{code}}</li>
        <li>Stock: {{stock}} / Categoria: {{category}}</li>
        <li>Estado: {{status}}</li>      
        <br>
      {{/each}}
    </ul>
</div>