<div>
  <div>
    Bienvenido {{ email }}
    <a href="/profile"><button type="button" id="profile" style="margin-left:1%"> Mi perfil </button></a>
    <a href="/logout"><button type="button" id="logout" style="margin-left:1%"> Cerrar sesión </button></a>
  </div><br />
    {{#if cart }}
      <a href="/cart"><button type="button" id="logout" style="margin-left:1%"> Ir al carrito </button></a>
    {{/if}}
  
  {{#unless cart}}
    <a href="/adminusers"><button type="button" id="changerol" style="margin-left:1%"> Administrar usuarios </button></a>
  {{/unless}}

  <h1>Lista de productos</h1>
  
  <h3 style="color: red"> {{mensajeResultado}} </h3>
  
  {{#each products.docs}}
    
    <p>
        {{#if ../cart }}
          <form action="/api/carts/{{../cart}}/product/{{id}}" method="post">
        {{/if}}   
            ID: {{id}} / Título: {{title}} <br />
            Descripción: {{description}} / Precio: $ {{price}} <br />
            Miniaturas: {{thumbnail}} / Código: {{code}} <br />
            Stock: {{stock}} / Categoria: {{category}} <br />
            Estado: {{status}} <br />
            {{#if ../cart }}
            <input type="submit" value="Agregar al carrito"/>
          </form>
        {{/if}} 
    </p>
  {{/each}}

  <div>
    {{#if products.hasPrevPage}}
      <a href="/products?page={{products.prevPage}}"><button>Anterior</button></a>
    {{/if}}

    <span>Página {{products.page}} de {{products.totalPages}}</span>

    {{#if products.hasNextPage}}
      <a href="/products?page={{products.nextPage}}"><button>Siguiente</button></a>
    {{/if}}
  </div>
</div>