<div style="text-align:center">
  <h1>Mi perfil</h1>
  <div>
    <a href="/products"><button type="button" id="login" style="margin-right:2%"> Ir al listado de productos </button></a>
    <a href="/logout"><button type="button" id="register" style="margin-right:2%"> Cerrar sesión </button></a>
  </div>
  <div style="margin-top:2%">
    
    <label for="first_name">Nombre</label>
      <input type="text" id="first_name" name="first_name" value="{{first_name}}" disabled/>
    </br>
    <label for="last_name">Apellido</label>
      <input type="text" id="last_name" name="last_name" style="margin-top:1%"  value="{{last_name}}" disabled/>
    </br>
    <label for="email">Email</label>
      <input type="text" id="email" name="email"  style="margin-top:1%" value="{{email}}" disabled/>
    </br>
    <label for="age">Edad</label>
      <input type="text" id="age" name="age"  style="margin-top:1%" value="{{age}}" disabled/>
    </br>
    <label for="rol">Rol</label>
      <input type="text" id="rol" name="rol"  style="margin-top:1%" value="{{rol}}" disabled/>
    </br>
    <label for="cart">Carrito</label>
      <input type="text" id="cart" name="cart" style="margin-top:1%; width: 200px" value="{{cart}}" disabled/>
    </br>
    
  </div>
  
</div>